:root {
  --color-bg: #ffffff;
  --color-text: #394049;
  --color-grey: #c0c0c0;
  --color-green: #2ecc71;
  --color-accent: #f29494;
  --color-input: #e8ebed;
  --color-scrollbar: #aaa7a7;
}
html.dark {
  --color-bg: #2a2f37;
  --color-text: #f5f5f5;
  --color-grey: #7e8187;
  --color-green: #20bf6b;
  --color-accent: #f29494;
  --color-input: #22242d;
  --color-scrollbar: #aaa7a7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #fd746c, #ff9068);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}
#root {
  width: 90%;
  max-width: 900px;
  background: var(--color-bg);
  margin: auto;
  padding: 3rem;
  color: var(--color-text);
  border-radius: 0.5rem;
}
ul {
  list-style: none;
}
input,
button {
  border: none;
  outline: none;
  background: transparent;
}
button {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
  border-radius: 2rem;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}
